#profile-username {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
  margin-right: 8px;
}

@media (min-width: 960px) {
  .profile-header{
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid yellow;
  }

  .profile-img{
    padding:40px;
  }

  .profile-stats{
    display: flex;
    flex-direction: flex-start;
    padding-left: 100px;
  }

  .following-posts {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: -2px;
    }

    .m-b-50{
      margin-bottom: 50px;
    }
  }

  .followers {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    height: 100px;

    h2 {
      margin-bottom: -2px;
    }
  }
}
@media (max-width: 959px) {
  .profile-header {
    margin-top: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    min-height: 143px;
  }
  .following-posts {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    height: 100px;

    h2 {
      margin-bottom: -2px;
    }
  }

  .followers {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    height: 100px;

    h2 {
      margin-bottom: -2px;
    }
  }
}
.user-header{
  display: flex;
  flex-direction: column;

}


.profile-status{
  display: flex;
  justify-content: space-between;
  *{
    margin-left: 10px;
  }
}
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.nav-tabs {
  display: flex;
  border-bottom: none;
  justify-content: space-around;
  border: none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-link {
  color: white;
  width: 30%;
  border-radius: 16px 16px 0px 0px;
  font-weight: bold;
  border: transparent;
  background-color: #2054CD;
  flex-grow: 1;
}

.tab-content>.active {

  display: flex;
  flex-direction: column;
  padding: 20px 20px 4vh  ;
  align-items: center;
  background: linear-gradient(360deg, #fd1d1d, #802db8, #1e55cd);

  height: 70vh;

  overflow-y: scroll;
}

.friends-tabs {
  background: linear-gradient(360deg, #fcaf21, #802db8, #2c50d2) !important;
  min-height: 110vh;

}

#nav-tabContent {
  height: 100%;
  padding-bottom:15px;
}


.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
}

@media (min-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .profile-container{
    margin-left: 250px;
    margin-right: 100px;
    padding-left: 50px;
    margin-top: 50px;
  }
  .friends-container-desktop{
      margin-left: 250px;
      margin-right: 100px;
      padding-left: 50px;
      margin-top: 0px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .overall {
    width: 500px;
    height: 64vh;
  }
}

@media (max-width: 959px) {
  /* For a screen < 540px, this CSS will be read */
  .overall {
    width: 300px;
    height: 64vh;
  }
}

// .overall {
//   height: 64vh;
// }

.profile-page {
  max-height: 93vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.white-text{
  color:white
}

.flex-grow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.full-width{
  width: 100%;
}

.padding-left{
  padding-left: 10px;
}

h4 {
  font-size: 16px;
}

.ovrvw {
  width: 100% !important;
}
