//desktop
@media (min-width: 960px) {
  #profile-username {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
  }

  .profile-header{
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid yellow;
  }

  .profile-header-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid yellow;
  }

  .profile-stats{
    display: flex;
    flex-direction: flex-start;
    padding-left: 80px;
  }

  .following-posts {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: -2px;
    }

    .m-b-50{
      // margin-bottom: 50px;
    }
  }

  .followers {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    height: 100px;

    h2 {
      margin-bottom: -2px;
      font-size: 30px;
    }
  }

  .user-header{
    display: flex;
    flex-direction: column;

  }


  .profile-status{
    display: flex;
    justify-content: space-between;
    *{
      margin-left: 10px;
    }
  }
  /* Style the tab */
  .tab {
    overflow: hidden;
    background-color: #000;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  .nav-tabs {
    display: flex;
        justify-content: space-around;
    border: none;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link,
  .nav-link {
    color: white;
    width: 30%;
    font-weight: bold;
    border-bottom: 1px solid white;
    border-right: 0px solid white;
    border-left: 0px solid white;
    border-top: 0px solid white;
    background-color: black;
    flex-grow: 1;
  }

  .nav-link:hover{
    color:yellow;
  }

  .tab-content>.active {

    display: flex;
    flex-direction: column;
    padding: 20px 20px 4vh  ;
    align-items: center;

    height: 70vh;

    overflow-y: scroll;
  }

  .friends-tabs {
    min-height: 110vh;

  }

  #nav-tabContent {
    height: 100%;
    padding-bottom:15px;
  }


  .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
  }

  .profile-page {
    max-height: 93vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;

  }

  .white-text{
    color:white
  }
  .white-text:hover{
    color: yellow;
  }

  .flex-grow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .full-width{
    width: 100%;
  }

  .padding-left{
    padding-left: 10px;
  }

  h4 {
    font-size: 16px;
  }

  .ovrvw {
    width: 100% !important;
  }

  .friends-info-container{
    margin-top: 20px;
  }
  .overall {
    height: 64vh;
  }
}

//mobile
@media (max-width: 959px) {
  #profile-username {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
    margin-right: 8px;
  }

  .profile-header, .profile-header-user {
    margin-top: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    min-height: 143px;
    margin-left: 10px;
  }
  .following-posts {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    height: 100px;

    h2 {
      margin-bottom: -2px;
    }
    .overall {
      width: 100%;
    }
  }

  .followers {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    height: 100px;

    h2 {
      margin-bottom: -2px;
    }
  }

  .user-header{
    display: flex;
    flex-direction: column;

  }


  .profile-status{
    display: flex;
    justify-content: space-between;
    *{
      margin-left: 10px;
    }
  }
  /* Style the tab */
  .tab {
    overflow: hidden;
    background-color: #f1f1f1;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  .nav-tabs {
    display: flex;
    border-bottom: none;
    justify-content: space-around;
    border: none;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link,
  .nav-link {
    color: white;
    width: 30%;
    border-radius: 16px 16px 0px 0px;
    font-weight: bold;
    border: transparent;
    background-color: #2054CD;
    flex-grow: 1;
  }

  .tab-content>.active {

    display: flex;
    flex-direction: column;
    padding: 20px 20px 80px 20px;
    align-items: center;
    background: linear-gradient(360deg, #fd1d1d, #802db8, #1e55cd);

    height: 70vh;

    overflow-y: scroll;
  }

  .friends-tabs {
    background: linear-gradient(360deg, #fcaf21, #802db8, #2c50d2) !important;
    min-height: 110vh;

  }

  #nav-tabContent {
    height: 100%;
    padding-bottom:15px;
  }


  .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
  }

  .profile-page {
    max-height: 93vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
  }

  .profile-stats{
    display: flex;
    flex-direction: flex-start;
  }

  .white-text{
    color:white
  }

  .flex-grow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .full-width{
    width: 100%;
  }

  .padding-left{
    padding-left: 10px;
  }

  h4 {
    font-size: 16px;
  }

  .ovrvw {
    width: 100% !important;
  }

}
.single-friend{
  padding-top:5px;
  padding-bottom: 5px;
}
