<div class="navbar" id="myNavbar">
  <a href="posts/index"><i class="fa-solid fa-border-all"></i></a>
  <a href="search"><i class="fa-solid fa-magnifying-glass"></i></a>
  <a href="posts/new"><i class="fa-solid fa-circle-plus"></i></a>
  <a href="#"><i class="fa-solid fa-message"></i></a>
  <a href="profile"><i class="fa-solid fa-circle-user"></i></a>
</div>
