<header class="header" id="header">
  <nav class="nav container">
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link">
          <i class="fa-solid fa-border-all"></i>
          </a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">
          <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link">
          <i class="fa-solid fa-record-vinyl"></i>
          </a>
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link">
          <i class="fa-solid fa-message"></i>
          </a>
        </li>
        <li class="nav__item">
          <a href="#contactme" class="nav__link">
          <i class="fa-solid fa-user-astronaut"></i>
          </a>
        </li>
      </ul>
    </div>
    <img src="assets/img/perfil.png" alt="" class="nav__img">
  </nav>
</header>
