<div class="profile-header">
  <h1 id="profile-username"><%=@username%></h1>
  <img src="<%= @prof_pic_url %>" alt="" class="profile-avatar">
</div>
<h2> Your Playlists: </h2>
<% @all_playlists.each do |playlist| %>

    <div class="playlist-card">
      <p><%=  playlist.name %></p>
      <img src="<%=playlist.images[0]["url"]%>" alt="" class="profile-playlist-image">
    </div>

<% end %>
