<div class="profile-header">
  <h1 id="profile-username"><%=@username%></h1>
  <img src="<%= @prof_pic_url %>" alt="" class="profile-avatar">
</div>
<h2> Your Playlists: </h2>

<div class="cards-wrapper">
  <% @all_playlists.each do |playlist| %>
      <div class="playlist-card">
        <img src="<%=playlist.images[0]["url"]%>" alt="" class="profile-playlist-image">
        <p><%=  playlist.name %></p>
      </div>
  <% end %>
</div>
