<h2 class="create-title">Search.</h2>
<div data-controller="search-music">
  <%= form_with url: new_post_path, method: :get, html: { class: 'mb-4', data: { search_music_target: 'form' } } do |f| %>
    <%= f.text_field :query,
                     autocomplete: "off",
                     class: "form-control search-bar",
                     placeholder: 'Type a music title',
                     value: params[:query],
                     data: { search_music_target: 'input',
                     action: 'keyup->search-music#update'

                     } %>
    <% end %>
  <%= render "results", post: @post %>
</div>
