.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-weight: bold;
  animation: ease-in-out;
  color: black;
  // animation: hideAnimation 0s ease-out 4s;
  // animation-fill-mode: forwards;
}

.flash {
  padding: 4px 8px 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: yellow;
  border-radius: 30px;
  margin: 8px;
  font-weight: bold;
  animation: ease-in-out;

  // animation: hideAnimation 0s ease-out 4s;
  // animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
  }
}
