.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-weight: bold;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  color: white !important;
  border-radius: 30px;
  margin: 8px;
  font-weight: bold;
}
