@media (min-width: 960px) {
  .profile-avatar {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 110px;
    border: solid;
    border-width: 5px;
  }

}
@media (max-width: 959px) {
  .profile-avatar {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 100px;
    border: solid;
    border-width: 5px;
  }
}

.comment-avatar{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.index-avatar {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 25px;
  height: 25px;
}

img, svg {
  vertical-align: middle;
  object-fit: cover;
}
