.home-banner {
  background-color: black;
  height: 60vh;
  padding: 30px;

  h1 {
    font-weight: bolder;
    letter-spacing: -1px;
    font-size: 75px;
    margin-bottom: -4px;
    margin-top: 78px;
  }

  h2 {
    font-size: 30px;
    margin: 9px 0px 24px;
  }
}

#how-we-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-size: cover;
  color: white;
  margin-top: 20;
  min-height: 733px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url('background.png');
}

.howto-content {
  text-align: start;
  font-size: 23px;
}

.howto-title {
  h2 {
    font-size: 41px;
    text-align: start;
  }
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 50px;
}

.loginscr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(183deg, #2c50d2, #fcaf21, #fd1d1d);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 51% 0%
  }

  50% {
    background-position: 50% 100%
  }

  100% {
    background-position: 51% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 51% 0%
  }

  50% {
    background-position: 50% 100%
  }

  100% {
    background-position: 51% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 51% 0%
  }

  50% {
    background-position: 50% 100%
  }

  100% {
    background-position: 51% 0%
  }
}
