.playlist-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  p{
    flex-grow: 1;
    font-size: 20px;
    color: black;
    padding: 0 10px;
  }
}
.profile-playlist-image{
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  width: 100px;
  height: 100%;
}
