.cards-wrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playlist-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: white;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 16px;
  p{
    flex-grow: 1;
    font-size: 20px;
    color: black;
    padding: 0 10px;
    margin: 0;
  }
}
.profile-playlist-image{
  object-fit: cover;
  // border-radius: 8px;
  aspect-ratio: 1 / 1;
  width: 80px;
  height: 100%;
}

.results-wrapper{
  display:flex;
  flex-direction: column;

}

.results-container{
  display: flex;
  flex-direction: column;
}
.result-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  background-color: white;
  margin-bottom: 16px;
  padding: 8px;
  p{
    flex-grow: 1;
    font-size: 15px;
    color: black;
    padding: 0;
    margin: 0;
  }
}
.artist-name{
  display: flex;

  p{
    font-weight: bold;
    padding: 0;
  }

}

.post-card{
  background-color: white;
  color: black;
  margin: 20px;
  border-radius: 10px;
  padding: 15px

}

.repost-card{
  background-color: white;
  color: black;
  margin: 20px;
  border-radius: 10px;
  padding:15px
}

.bottom-card-content{
  margin-top: 15px;
  background-color:black;
  color:white;
  border-radius: 10px;
  padding: 15px;
}

.social-icons{
  display: flex;
  justify-content: right;
}

.album-img{
  border-radius: 10px;
}

.content-text{
  font-size: 12px;
}

.username-text{
  font-size: 12px;
  font-weight:700
}

.grey-text{
  color:gray
}
