.cards-wrapper{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playlist-card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 500px;
  background-color: white;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 16px;
  p{
    flex-grow: 1;
    font-size: 20px;
    color: black;
    padding: 0 10px;
    margin: 0;
  }
}
.profile-playlist-image{
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 57px;
  height: 100%;
  border-radius: 4px;
}

.results-wrapper{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;

}

.results-container{
  display: flex;
  flex-direction: column;
  h2{
    font-size: 20px;
    margin-left: 8px;
  }

}
.result-card{
  display: flex;
  align-items: center;
  flex-direction: row;
  // background-color: white;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 8px;
  p{
    font-weight: bold;
    flex-grow: 1;
    font-size: 15px;
    color: white;
    padding: 0;
    margin: 0;
  }
}
.artist-name{
  display: flex;
  p{
    font-weight: 400;
    padding: 0;
  }

}


// post css


.posts-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}


.post-card, .repost-card{
  color: white;
  margin: 8px;
  /* border-radius: 10px; */
  padding: 15px 0;
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 10px;
  border-radius: 16px;
  padding: 18px;
  margin-bottom: 12px;
  background-color: black;

  h2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: white;
  }
  p {
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    width: 100%;
  }
}
.profpic-username{
display: flex;
flex-direction: column;
width: 30px;
  img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
}
.username-text{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: 0;
  padding: 0;
  /* line-height: 0; */
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}
.content{
  margin-left: 16px;
}
.post-title{
  font-weight: 500;
  font-size: 20px;

}
.content-text{
  font-size: 12px;
  font-weight: 400;
}


.album-img{
  border-radius: 10px;
}
.spotify-card{
  display: flex;
  align-items: center;
  p{
    font-size: 12px;
  }
  img{
    width: 53px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;

  }
}
.spotify-card-info{
  display: flex;
  flex-direction: column;
  margin-left: 8px;

  p{
    margin: 0;
    padding: 0;

  }
}
.social-icons{
  display: flex;
  justify-content: flex-end;
  *{
    display: flex;
    align-items: center;
    margin: 0 2px;
    p{
      margin: 0;
    }
  }
}

.time-created{
  text-align: left;
  p{
    color:rgb(150, 150, 150)
  }
}

.grey-text{
  color:gray
}

.full-width{
  width: 100%
}

.align-items-center {
  align-items: center !important;
}


.margin-r-10{
  margin-right: 10px
}

.post-comments{
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
}
