
.comment-box{
  textarea{
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 16px;
  }
}

.form-control{
  border: none;
  border-radius: 5px;
  color: black;
}
