
.comment-box{
  textarea{
    background-color: black;
    border: solid 1px white;
    color: white;
    border-radius: 16px;
  }
}

.form-control{
  border-radius: 20px;
  color: black;
  background-color: white;
  // border: solid white 1px;
}

.comment-delete-div{
  position: absolute;
  bottom: 0px;
  width: 82%;
}
