
.comment-box{
  textarea{
    background-color: black;
    border: solid 1px white;
    color: white;
    border-radius: 16px;
  }
}

.form-control{
  border: none;
  border-radius: 5px;
  color: black;
}

.comment-delete-div{
  position: absolute;
  bottom: 0px;
  width: 82%;
}
