.navbar {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7vh;
  justify-content: space-around;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */


/* Add a green background color to the active link */
