.create-title{
  // font-size: 20px;
  margin-top: 45px;
  margin-left: 25px;

}

.no-padding{
  padding:0px;
}

.ul-style{
  list-style: none;
  color: black;
  margin-left: 0px !important;
  padding-left: 0px !important;
  margin-bottom: 0px;
}

.li-style{
  list-style:none;
  margin-left: 0px !important;
  padding-left: 0px !important;
}
@media (max-width: 959px) {

  .search-header{
    h2{
      width: 90%;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }
  .search-bar{
    margin: auto;
  }
}

@media (min-width: 959px) {

  .search-header{
    margin-top:25px;
  }
  .search-bar{
  }
  .searchbar{
    // width: 90%;
  }
}
